---
layout: archive
title: "Talks"
permalink: /talks/
author_profile: true
---

<h3>Conference Talks</h3>
<ul>
  <li><i>“Filament Based Plasma”</i>, ACM SIGGRAPH 2022, Vancouver, Canada - Aug. 2022 ()</li>
  <li><i>“Shape of Flux Tubes”</i>, DGD-Days Annual meeting of the SFB/TRR 109, Landshut,
Germany - Sept. 2021</li>
</ul>

<h3>Invited Talks</h3>
<ul>
  <li><i>“Lagrangian Modeling and Geometric Optimization in Plasma Physics”</i>, Seminar of the Center of Visual Computing, Computer Science and Engineering, UCSD, San Diego, CA, USA (invited by Prof. Albert Chern) - July 2022</li>
  <li><i>“Riemannian Geometry in Plasma Physics”</i>, Geometry Seminar of TU Graz, Graz, Austria (invited by Prof. Olga Diamanti) - May 2022</li>
</ul>

<h3>Talks on a Map</h3>
<p> Here is a map of all the places I've given a talk: <font size='3' color="LightSkyBlue"><a href="/talkmap.html">[Talk map]</a></p>


{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
