---
layout: archive
title: "Talks"
permalink: /talks/
author_profile: true
---

<h3>Talks on a Map</h3>
<p> Here is a map of all the places I've given a talk at: <font size='3' color="LightSkyBlue"><a href="/talkmap.html">[Talk map]</a></p>

<h3>Conference Talks</h3>
<ul>
  <li><i>“Motion from Shape Change”</i>, Geometry Workshop Obergurgl 2023, Innsbruck, Austria - Aug. 2023</li>
  <li><i>“Motion from Shape Change”</i>, ACM SIGGRAPH 2023, Los Angeles, CA, USA - Aug. 2023</li>
  <li><i>“Filament Based Plasma”</i>, The interdisciplinary world of tangling 2022, Potsdam, Germany - Sept. 2022</li>
  <li><i>“Filament Based Plasma”</i>, Discrete Geometric Structures 2022, Vienna, Austria - Aug. 2022</li>
  <li><i>“Filament Based Plasma”</i>, ACM SIGGRAPH 2022, Vancouver, Canada - Aug. 2022</li>
  <li><i>“Shape of Flux Tubes”</i>, DGD-Days Annual meeting of the SFB/TRR 109, Landshut, Germany - Sept. 2021</li>
</ul>

<h3>Colloquia / Seminars</h3>
<ul>
  <li><i>“Shifting Shapes with Shape Shifts”</i>, CSE Pixel Cafe at UCSD, San Diego, CA, USA (invited by Prof. Albert Chern) - July 2023</li>
  <li><i>“Filament Based Plasma”</i>, CMX Student/Postdoc Seminar, Caltech, Pasadena, CA, USA - March 2023</li>
  <li><i>“A Geometric Approach to Magnetic Relaxation”</i>, Bellan Plasma Group Seminar, Caltech, Pasadena, CA, USA (invited by Prof. Paul M. Bellan) - February 2023</li>
  <li><i>“Lagrangian Modeling and Geometric Optimization in Plasma Physics”</i>, Seminar of the Center of Visual Computing, Computer Science and Engineering, UCSD, San Diego, CA, USA (invited by Prof. Albert Chern) - July 2022</li>
  <li><i>“Riemannian Geometry in Plasma Physics”</i>, Geometry Seminar of TU Graz, Graz, Austria (invited by Prof. Olga Diamanti) - May 2022</li>
</ul>

<h3>Posters</h3>
<ul>
  <li><i>“Motion from Shape Change”</i>, ACM SIGGRAPH 2023, Los Angeles, CA, USA - Aug. 2023</li>
  <li><i>“Motion from Shape Change”</i>, Caltech's Women in STEM program 2023, Pasadena, CA, USA - Aug. 2023</li>
  <li><i>“Motion from Shape Change”</i>, CMS + IST Meeting of the Minds (MotM) at Caltech 2023, Pasadena, CA, USA - May 2023</li>
  <li><i>“Filament Based Plasma”</i>, ACM SIGGRAPH 2022, Vancouver, Canada - Aug. 2022</li>
</ul>


{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
