<table align=center width=1100>
    <left>
        <h1>Paper</h1>
    </left>
    <tr>
        <!--<td width=300px align=left>-->
        <!-- <a href="http://arxiv.org/pdf/1603.08511.pdf"> -->
        <!-- <td><a href="#"><img class="layered-paper-big" style="height:175px" src="./resources/images/paper.png"/></a></td> -->
        <td><a href="./figs/Filament_Based_Plasma.pdf"><img style="height:130px" src="./figs/22-06-24_09-11-Glow_10k.jpg" /></a></td>
        <!--<td><a href="https://arxiv.org/pdf/1904.09571.pdf"><img style="height:180px" src="./support/paper_3d.png"/></a></td>-->
        <td><span style="font-size:14pt">Filament Based Plasma<br><br>
                <i>Marcel Padilla, Oliver Gross, Felix Kn&ouml;ppel, Ulrich Pinkall and Peter Schr&ouml;der</i><br><br>
                ACM Trans. Graph. 41, 4, Article 153 (July 2022), 14 pages. <a href="https://doi.org/10.1145/3528223.3530102"></a>
        </td>
    </tr>
</table>
<table align=center width=400px>
    <tr>
        <td><span style="font-size:14pt">
                <center>
                    <a href="./figs/Filament_Based_Plasma.pdf">[PDF]</a>
                    <!--<a href="https://arxiv.org/pdf/1904.09571.pdf">[PDF]</a>-->
                </center>
        </td>

        <td><span style="font-size:14pt"><center>
        <a href="./figs/Filament_Based_Video.mp4">[Video]</a>
        </center></td>

        <td><span style="font-size:14pt"><center>
        <a href="https://tubcloud.tu-berlin.de/s/TwMKYTSj5b2NrbR/download">[Code]</a>
        </center></td>

        <td><span style="font-size:14pt"><center>
        <a href="./figs/FBP_Poster_final.jpg">[Poster]</a>
        </center></td>

        <!--<td><span style="font-size:14pt">-->
                <!--<center>-->
                    <!--<a href="./figs/bibtex.txt">[BibTex]</a>-->
                    <!--<a href="./support/TGaGa_bibtex.txt">[Bibtex]</a>-->
              <!--  </center>-->
        <!--</td>-->
    </tr>
</table>
